@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

h1{
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .hero {
    background-color: #555;
    color: #fff;
    padding: 250px 0;
    text-align: center;
  }
  
  .about, .portfolio, .contact {
    padding: 80px 0;
  }
  
  .project {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .project:hover {
    transform: scale(1.1);
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }

  #c1{
    color: red;
    
  }
  #c2{
    color: blue;
  }
  #c3{
    color: black;
  }
 