@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
position: relative;
overflow: hidden;
}
#page{
    height: 100vw;
    width: 100vw;
    background-color:#0D0D0D;
}
#page>img{
    position: absolute;
    right: -15%;
    top: 10%;
    transform: translate(-50%);
    width: 50%;
}
#page>#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    z-index: 9;
    height: 3%;
    width: 100%;
    white-space: 2%;
    
    font-family: 'Poppins', sans-serif;
}
#center-nav{
    
    overflow: visible;
    
    display: flex;
    gap: 20px;
    padding: 35%;

position: fixed;


}
#center-nav>a{

    padding: 3%;
}

#lorem{
    color: #fff;
}

#page1{
    height: 100vw;
    width: 100vw;
    background-color: #fff;
}